.pagination-container {
  color: #fff;
}

.recommendations {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 40px;
}

.container-recommendations {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 10rem);
  justify-content: center;

  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 200px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.1);
}

.image-poster {
  width: 10rem;
  height: 200px;
  position: absolute;
  z-index: -1;
  border: none;
  border-radius: 10px;
}

.lbl-title {
  text-align: center;
  margin-top: 150px;
}

.sweet-pagination {
  margin: 0 auto;
  color: #68fe9a;
  width: 25%;
  margin-top: 20px;
}
