:root {
  --select-focus: #68fe9a;
  --select-border: #777;
  --select-arrow: var(--select-border);
}

.main {
  display: flex;
  flex-direction: column;
}

.container-searc-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin-top: calc(20% - 20px);
}

.container-category {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-left: calc(30% - 10px);
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.61);
}

.select {
  width: 200px;
  background: #060606;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #68fe9a;
  color: rgba(255, 255, 255, 0.61);
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select::-ms-expand {
  display: none;
}

.option:checked {
  color: #68fe9a;
}
