.container-header {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #060606, #24272c);
}

.img-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 400px;
}

.container-header .title {
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, #68fe9a, #38ee7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 25px;
  cursor: pointer;
}

.icon-movie {
  color: #38ee7b;
}

.menu {
  position: absolute;
  right: 100px;
  top: 15px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.menu span {
  background: linear-gradient(to bottom, #68fe9a, #38ee7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
