.container-slider {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
}

.image-slider {
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: calc(18% - 10px);
  font-size: 2rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: calc(18% - 10px);
  font-size: 2rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow:hover,
.right-arrow:hover {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  color: #24272c;
}

.left-arrow:active,
.right-arrow:active {
  transform: translateY(4px);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  border-radius: 10px;
}

.container-info {
  position: absolute;
  z-index: inherit;
  top: calc(82% - 10px);
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(to top, #24272c, transparent);
}

.container-info .image-poster {
  position: absolute;
  top: -20%;
  padding: 10px;
  z-index: 10;
  width: 5rem;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.container-info label {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
  padding: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-info span {
  display: flex;
  margin-left: 100px;
  padding: 5px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
